.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

label {
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 0px;
}

input  {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--border);
}
