section.main {
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-direction: row;
	align-items: center;
	align-content: center;
	
}

section.title-block {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	width: 900px;
	height: 450px;
	padding-top: 50px;
}

section.work-block {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: row;
	justify-content: center;
	gap: 80px;
	background-color: var(--third-color);
	border: solid;
	border-color: var(--border-color);
	width: 800px;
	height: 400px;
	padding: 50px;
	box-shadow: 5px 5px 10px #000000;
}

section.work-block button {
	padding: 25px;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 24px;
}