:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	--primary-color: #540000;
	--secondary-color: #004749;
	--third-color: #b09b72;

	--gradient: linear-gradient(60deg, var(--primary-color), var(--primary-color), var(--secondary-color));

	--title: #FFFFFF;
	--subtitle: #E7E7E7;
	--button-ring: var(--primary-color);
	--border-color: var(--primary-color);
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
  	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	justify-content: center;
	background: var(--gradient);
	min-width: 320px;
	min-height: 100vh;
}

#root {
	width: 100%;
	display: flex;
	justify-content: center;
}

h1 {
    color: var(--title);
    text-align: center;
    font-size: 56px;
	padding:0; 
	margin:0;
}

h2 {
	color: var(--subtitle);
    text-align: center;
    font-size: 36px;
	margin-top: 1px;
	padding:0; 
	margin:0;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
  	border-color: var(--button-ring);
}
button:focus,
button:focus-visible {
  	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
