@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;700&display=swap');

.help-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.help-section .title-card {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 36px;
    margin: 0 0;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.help-section .three-flex {
    display: flex;
    flex-direction: row;
    flex: 3;
}