.ExperimentName-section {
    height: auto;
    display: flex;
    flex-direction: column;
    

    .subtitle {
        height: fit-content;
        margin: 0 0;
        font-size: 16px;
    }

    .title {
        display: flex;
        height: fit-content;
        margin: 0 0;    
        font-size: 24px;
        letter-spacing: 0;
        margin-top: -5px;
    }

}